//-------------------------//
//--Leave Application -----//
//-------------------------//
.modalDialog{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}


.modalDialog > .application-wrapper{
	position: relative;
	width: 800px;
	min-height: 484px;
	margin: 70px auto;
	display: flex;
	border: 1px solid $color-border-form;
	border-top: 5px solid $button-color-green;
	background: white;
}


.application-left{
	width: 400px;
	padding: 40px;
	background: $background-color-gray;
}

.application-left__title{
	@include title;
}

.application-left__text{
	padding-top: 40px;
	font-size: 0.875em;
	line-height: 1.25em;
	width: 320px;
	min-height: 96px;
}

.application-right{
	padding: 30px 40px 40px 40px;
}

.close-icon{
	height: 15px;
	width: 15px;
	display: block;
	position: absolute;
    right: 10px;
    top: 10px;
}

.choose-location-or-metro{
	@extend .choose_location;
	width: 320px;
	background-position: 260px -8px;
	padding: 10px 0 10px 20px;
	font-size: 0.9375em;
}

.choose-room-place{
	padding-top: 30px;
}

.user_name{
	margin-top: 30px;
}

.user_email{
	margin-top: 15px;
	margin-bottom: 30px;
}

